<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.student.crm.mapper.ClassroomMapper" >
  <resultMap id="BaseResultMap" type="com.student.crm.domain.Classroom" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <association property="classTeacher" javaType="com.student.crm.domain.Employee" columnPrefix="e_" resultMap="com.student.crm.mapper.EmployeeMapper.BaseResultMap"/>
    <association property="institute" javaType="com.student.crm.domain.Institute" columnPrefix="i_" resultMap="com.student.crm.mapper.InstituteMapper.BaseResultMap"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from classroom
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.student.crm.domain.Classroom" useGeneratedKeys="true" keyProperty="id" >
    insert into classroom (name, institute_id, classTeacher_id
      )
    values (#{name,jdbcType=VARCHAR}, #{institute.id,jdbcType=BIGINT}, #{classTeacher.id,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.student.crm.domain.Classroom" >
    update classroom
    set name = #{name,jdbcType=VARCHAR},
      institute_id = #{institute.id,jdbcType=BIGINT},
      classTeacher_id = #{classTeacher.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, institute_id, classTeacher_id
    from classroom
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, institute_id, classTeacher_id
    from classroom
  </select>
  <sql id="base_select">

  </sql>
  <sql id="base_from">

  </sql>
  <sql id="base_where">
    <where>

    </where>
  </sql>
  <select id="queryCount" resultType="java.lang.Long">
    select count(cr.id) from classroom cr join employee e on cr.classTeacher_id=e.id join institute i on cr.institute_id=i.id
    <include refid="base_where"/>
  </select>
  <select id="list" resultMap="BaseResultMap">
    select cr.id,cr.name,e.id e_id,e.username e_username,i.id i_id,i.name i_name from classroom cr join employee e on cr.classTeacher_id=e.id join institute i on cr.institute_id=i.id
    <include refid="base_where"/>
    limit #{start},#{rows}
  </select>
</mapper>