<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.student.crm.mapper.SystemMenuMapper" >
  <resultMap id="BaseResultMap" type="com.student.crm.domain.SystemMenu" >
    <id column="id" property="id"  />
	<result column="text" property="text"  />
	<result column="url" property="url"  />
	<result column="iconCls" property="iconCls"  />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="long" >
    delete from systemMenu where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.student.crm.domain.SystemMenu" useGeneratedKeys="true" keyProperty="id" >
    insert into systemMenu 
    (parent_id,text,url,iconCls)
    values 
    (#{parent.id},#{text},#{url},#{iconCls})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.student.crm.domain.SystemMenu" >
    update systemMenu
    set
	    parent_id=#{parent.id},
	    text=#{text},
	    url=#{url},
	    iconCls=#{iconCls}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
    select * from systemMenu where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select * from systemMenu
  </select>
  <sql id="conditionSql">
  	<where>
  		<if test="parentId!=null">
  			parent_id = #{parentId}
  		</if>
  	</where>
  </sql>
  <select id="queryPageCount" resultType="long">
  	select count(0) from systemMenu
  	<include refid="conditionSql"/>
  </select>
  <select id="queryPageDataResult" resultMap="BaseResultMap">
  	select * from systemMenu
  	<include refid="conditionSql"/>
  	limit #{start},#{rows}
  </select>
  
  <resultMap id="treeMap" type="com.student.crm.domain.SystemMenu" >
    <id column="id" property="id"  />
	<result column="text" property="text"  />
	<result column="url" property="url"  />
	<result column="iconCls" property="iconCls"  />
	<collection property="children" ofType="com.student.crm.domain.SystemMenu" column="id"
                select="com.student.crm.mapper.SystemMenuMapper.queryChildrenByParentId">
	</collection>
  </resultMap>
  <select id="queryTree" resultMap="treeMap">
  	select id,text,iconCls,url from systemMenu where parent_id is null
  </select>
  <select id="queryChildrenByParentId" resultMap="treeMap">
  	select id,text,iconCls,url from systemMenu where parent_id = #{parentId}
  </select>
  <select id="systemMenuMapper" resultType="long">
  	select menu_id from role_menu where role_id = #{roleId}
  </select>
  <select id="queryMenuIdListByEmployeeId" resultType="long">
  	select menu_id from role_menu where role_id in (
		select role_id from employee_role where employee_id = #{employeeId}
	)
  
  </select>
    <select id="queryMenuIdByEmpId" resultType="java.lang.Long">
        select menu_id from role_menu WHERE role_id in(
            select role_id FROM employee_role WHERE employee_id = #{id}
        )
    </select>
</mapper>